<header>
    <div class="logo">
        <h1>Nordic Rose</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">All</a></li>
            <li><a href="/new">New Article</a></li>
        </ul>
    </nav>
</header>